<!--The content below is only a placeholder and can be replaced.-->
<span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading"></span>
<div>
    <nav-bar></nav-bar>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-2">
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
    </div>
</div>


<div class="container-flex">
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body modal-body-large">
      <p>One fine body&hellip;</p>
      <button class="btn btn-outline-primary mb-1" (click)="openSm(contentsm)">Small modal</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  
  <ng-template #contentsm let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Confirm?</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete the data?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
      <button type="button" class="btn btn-primary">Save</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

  <hr>

  <pre>{{closeResult}}</pre>

</div>