/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.container {
    margin-top: 30px;
}

.modal-xxl .modal-lg {
    max-width: 90%;
}

.modal-body-large {
    height: 400px;
}

.navbar-nav > li.nav-item {
    margin-right: 5px;
}

.nav-item:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.nav-item.active {
    background-color: #ccc;
    border-radius: 5px;
}