<!-- <div>
    <button (click)="increment()">Increment</button>
    <button (click)="decrement()">Decrement</button>
    <button (click)="reset()">Reset Counter</button>

    
</div> -->
<div>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
      </tr>
    </thead>
     <tr *ngFor="let user of (users$ | async)">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
    </tr>
  </table>
</div>

<!-- <div>Current Count: {{ (users$ | async) | json}}</div> -->
